.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #181c2e;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar div {
    background-image: url('../../assets/cover.png');
    background-color: #181c2e;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    padding-top: 30px;
}

.sidebar div img {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 90px;
    height: 90px;
    -webkit-filter: drop-shadow(2px 3px 6px #121212);
    filter: drop-shadow(2px 3px 6px #121212);
    object-fit: cover;
}

.sidebar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
    padding: 16px;
    text-decoration: none;
    transition: all .6s;
    margin-top: 5px;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}

.sidebar a svg {
    margin-right: .5em;
}

.sidebar a svg:hover {
    margin-right: .5em;
    color: #000;
}

.content {
    margin-left: 200px;
    padding: 1px 16px
}


.btn-logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #181c2e;
    color: rgba(255, 255, 255, 0.9);
    border: 0;
    padding: 16px;
    text-decoration: none;
    transition: all .6s;
    margin-top: 5px;
    width: 100%;
    position: absolute;
    bottom: 8px;
}

.btn-logout:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}



.btn-logout svg {
    margin-right: 5px;
}


@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
    }

    .sidebar div {
        display: none;
    }

    .sidebar a {
        margin: 0px;
    }

    .sidebar svg {
        display: none;
    }

    .content {
        margin-left: 0;
    }

    .btn-logout {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

}